.footer {
  margin-top: 32px;
  background-color: var(--blue-200);
  color: var(--blue-800);
}
.content {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 48px 0;
  display: grid;
  grid-row-gap: 16px;
}
.socialLinks {
  display: grid;
  grid-row-gap: 24px;
}
.socialLink {
  display: flex;
  align-items: center;
}
.socialLinkContent {
  margin-left: 16px;
}
@media (max-width: 767px) {
  .socialLinks {
    margin-top: 32px;
  }
}
@media (min-width: 768px) {
  .footer {
    margin-top: 60px;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
