.header {
  background-color: var(--blue-200);
}
.content {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 48px 0;
}
.homeLink {
  margin: 0;
  color: var(--blue-900);
  text-decoration: none;
  font-size: var(--font-size-4);
  line-height: var(--line-height-4);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
