.aboutTennisPerfect {
  margin-top: 32px;
}
.aboutOlga {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr;
}
.aboutOlgaContent > p:first-of-type {
  margin-top: 0;
}
.aboutOlgaContent > p:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .aboutOlgaContent {
    grid-row: 2/3;
  }
}
@media (min-width: 768px) {
  .aboutTennisPerfect {
    margin-top: 60px;
  }
  .aboutOlga {
    margin-top: 60px;
    grid-template-columns: 1fr 320px;
    grid-column-gap: 60px;
  }
}
